body {
    background-color: #264653;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #D897A9;
   font-weight: bolder;
   font-size: 2.5rem;
}

.blurb p {
    color: #fcf9fa;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 300
;    
}

#mainNavbar .nav-link {d
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #47b5d6;
}

#mainNavbar .navbar-brand {
    color: #25a52b;
    font-size: 1.5rem;
    font-weight: 200;
}

#headingGroup span {
    color: #ff5b68;s
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
}

.navbar.scrolled {
    background: rgb(49, 139, 212);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




