body {
    background-color:azure
}


h1 {
    color: blueviolet; text-align: left;
}
h2{
    color:darkorange; font-size: medium;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
P {
    font-style: italic;
}
li {
    font-size: 20px; font-style: bold; font-weight: 10px
}
h3 {
    font-size: 20px; font-style: oblique; color: mediumvioletred;
}
